body{
    background-color: #f2f2f2;
}

.container{
    margin-top: 200px;
}

.table-white{
    background-color: #ffffff;
}

.table-white th{
    color: #5c5c5c;
}

.table-white td{
    color: #898989;
}

